<!-- <app-order-details></app-order-details> -->
<p class="mx-4 my-2"><b>Hi, X AE A-12!</b></p>
<div class="container-fluid">
    <div class="row justify-content-md-between"  style="height: 547px;">
        
        <div class="col-sm-6 border rounded-radius-right bg-light shadow">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex align-items-start flex-column" style="height: 500px;">
                        <div class="row">
                            <h3 class='py-2'><b>Place Order</b></h3>
                        </div>
                        <div class="row">
                            <p>Select Meal</p>
                            <div class="d-flex flex-row mb-3 col-12">
                                <button class="btn btn-secondary mr-2" type="button">Lunch</button>
                                <button class="btn btn-secondary ml-2" type="button">Dinner</button>
                            </div>
                        </div>
                        <div class="row mb-auto">
                            <p>Select Item</p>
                            <div class="d-flex flex-row col-12">
                                <div class="card-deck">
                                    <div class="card btn-secondary-info col-12">
                                        <div class="row">
                                            <div class="col-4 p-0">
                                                <img class="card-img-left img-thumbnail img-size" src="../../../assets/food_items/chicken_biryani.jpg" alt="Card image cap">
                                            </div>
                                            <div class="col-8 p-0">
                                                <div class="card-body">
                                                    <h5 class="card-title">Item Name 1</h5>
                                                    <p>...</p>
                                                    <button class="btn btn-sm btn-primary">Place Order</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-2 d-flex flex-column">
            <div class="row border rounded-radius mb-auto bg-light shadow" style="height: 268px;">
                <div class="container-fluid m-4">
                    <div class="row">
                        <h3 class='py-2'><b>Due Amount</b></h3>
                    </div>
                    <div class="row">
                        <p>You ate 500 Rs/- worth of free food</p>
                    </div>
                    <div class="row">
                        <p>PAY UP!</p>
                    </div>
                </div>
            </div>
            <div class="row border rounded-radius mt-auto bg-light shadow" style="height: 268px;">
                <div class="container-fluid m-4">
                    <div class="row">
                        <h3 class='py-2'><b>Announcement</b></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 border rounded-radius-left bg-light shadow">
            <div class="container-fluid m-4">
                <div class="row">
                    <h3 class='py-2'><b>Past Orders</b></h3>
                    <div class="d-flex flex-row col-12">
                        <div class="card-deck">
                            <div class="card btn-secondary-info col-12">
                                <div class="row">
                                    <div class="col-6 p-0">
                                        <img class="card-img-left img-thumbnail img-size" src="../../../assets/food_items/chicken_biryani.jpg" alt="Card image cap">
                                    </div>
                                    <div class="col-6 p-0">
                                        <div class="card-body">
                                            <h5 class="card-title">Item Name 1</h5>
                                            <p>...</p>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

