<nav class="navbar d-flex justify-content-between" style="width: 100%; background-color: #F5F5F5;">
    <a class="navbar-brand d-flex p-0 align-items-center" href="#">
        <!-- <img src="../../../assets/ACS.png" width="auto" height="50" class="d-inline-block align-top" alt=""> -->
        <!-- <span class="ml-auto m-1 mr-3" style="color: #F7941D;"><fa-icon [icon]="faCogs" size="lg"></fa-icon></span> -->
        <h2 class="mb-0 font-weight-bold" style="color: #52658C;"><img alt="logoIcon" title="logo" height="40px"
            src="../../../assets/logo.png"> Your Smart Ordering Food Assistant!</h2>
    </a>
    <span class="ml-auto m-1 mr-3">
        <fa-icon [icon]="faBell" size="lg" title="notifications"></fa-icon>
    </span>
    <!-- <img alt="notifationIcon" class="ml-auto m-1 mr-3" height="30px" src="/assets/icons/notificationIcon.png"> -->
    <a (click)="goToLoginPage()"><img alt="userIcon" title="profile" class="rounded-circle" height="40px"
        src="https://kxiwq67737.i.lithium.com/t5/image/serverpage/image-id/16177i981036BC7573BF14/image-size/large/is-moderation-mode/true?v=1.0&amp;px=999"></a>
</nav>
<div class="card border-0" style="width: 100%; height: 2px;"></div>
<app-employee-dashboard *ngIf="empDashboard"></app-employee-dashboard>
<app-vendor-dashboard *ngIf="!empDashboard"></app-vendor-dashboard>
